<?xml version="1.0" encoding="UTF-8"?>
<!-- https://docs.phpunit.de/en/12.5/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="vendor/autoload.php" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd" cacheDirectory=".phpunit.cache" displayDetailsOnTestsThatTriggerWarnings="true" displayDetailsOnPhpunitDeprecations="true" failOnDeprecation="true" displayDetailsOnSkippedTests="true">
  <coverage/>
  <testsuites>
    <testsuite name="nano Test Suite">
      <directory>tests/</directory>
    </testsuite>
  </testsuites>
  <php>
    <const name="NANO_TEST" value="bar"/>
    <env name="REDIS_PASSWORD" value="qwerty"/>
    <ini name="date.timezone" value="UTC"/>
    <ini name="memory_limit" value="350M"/>
  </php>
  <source>
    <include>
      <directory suffix=".php">classes/</directory>
    </include>
  </source>
</phpunit>
